:root {
  /* Background colors */
  --bg-color: #111111;
  --card-bg-color: #1a1a1a;
  --navbar-bg-color: #212121;

  /* Text colors */
  --text-color-primary: #ffffff;
  --text-color-secondary: #cccccc;
  --text-color-muted: #b0b0b0;

  /* Icon colors */
  --icon-color: #666666;
  --icon-color-hover: #ffffff;
  --icon-bg-hover: #555;

  /* Button colors */
  --btn-bg-color: #333333;
  --btn-bg-color-hover: #444444;
  --btn-border-color: #333333;

  /* Light mode icon */
  --light-mode-icon: #cccccc;

  /* Other styling */
  --font-family: "Poppins", sans-serif;
  --border-radius: 8px;
  --transition-duration: 0.3s;
}

.light-mode {
  /* Background colors */
  --bg-color: #f7f7f7;
  --card-bg-color: #f4f4f4;
  --navbar-bg-color: #ffffff;
  --bb-bg-color: #f4f4f4;

  /* Text colors */
  --text-color-primary: #111111;
  --text-color-secondary: #333333;
  --text-color-muted: #777777;

  /* Icon colors */
  --icon-color: #888888;
  --icon-color-hover: #111111;
  --icon-bg-hover: #ecececdd;

  /* Button colors */
  --btn-bg-color: #eeeeee;
  --btn-bg-color-hover: #dddddd;
  --btn-border-color: #cccccc;

  /* Dark mode icon */
  --light-mode-icon: #555555;

  /* Other styling remains the same */
  --font-family: "Poppins", sans-serif;
  --border-radius: 8px;
  --transition-duration: 0.3s;
}
main {
  width: 100%;
  background-color: var(--navbar-bg-color);
  margin: 16px 0;
  border: 1px solid var(--btn-border-color);
  border-radius: 10px;
}
.hero {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.hero-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.text-content {
  flex: 1;
  color: var(--text-color-primary);
  margin-right: 20px;
}
.text-content h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-color-primary);
  margin-bottom: 10px;
}
.text-content p {
  font-size: 18px;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: var(--border-radius);
  border: 1px solid var(--btn-border-color);
  cursor: pointer;
  transition: background-color var(--transition-duration),
    color var(--transition-duration), transform var(--transition-duration);
}
.hire-me {
  background-color: var(--btn-bg-color);
  color: var(--text-color-primary);
}
.hire-me:hover {
  background-color: var(--btn-bg-color-hover);
  transform: scale(1.05);
}

.copy-email {
  text-decoration: none;
  background-color: var(--btn-bg-color);
  color: var(--text-color-primary);
  border: 1px solid var(--btn-border-color);
}
.copy-email:hover {
  background-color: var(--btn-bg-color-hover);
  color: var(--icon-color-hover);
  transform: scale(1.05);
}
.profile-picture {
  height: 140px;
  width: 140px;
  border: 7px solid var(--btn-bg-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* Style for project section */

.project {
  background-color: var(--card-bg-color);
  color: var(--text-color-primary);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1p solid var(--btn-border-color);
  transition: transform var(--transition-duration) ease;
}

.project:hover {
  transform: scale(1.01);
}

.project-image {
  width: 100%;
  height: 180px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-discriptio h2 {
  font-size: 1.4em;
  margin: 15px 0 5px;
}

.project-discriptio p {
  font-size: 0.9em;
  color: var(--text-color-muted);
  margin-bottom: 15px;
}
.project-icons {
  display: flex;
  background-color: var(--btn-bg-color);
  width: 100px;
  justify-content: space-between;
  padding: 6px 10px;
  font-size: 18px;
  color: var(--text-color-primary);
  border-radius: 20px;
  margin: 10px 0;
}
.project-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 24px;
}
.proti {
  margin: 50px 30px 10px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.proti div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
}
.proti h2 {
  color: var(--text-color-primary);
  font-size: 20px;
}

.follow-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navbar-bg-color);
  padding: 30px 15px;
  border-radius: 10px;
  margin: 16px 0;
  border: 1px solid var(--btn-border-color);
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  color: var(--text-color-primary);
  font-size: 24px;
}
.social-media a,
li {
  text-decoration: none;
  color: var(--text-color-primary);
  list-style: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navbar-bg-color);
  padding: 25px 15px;
  border-radius: 10px;
  margin: 16px 0;
  border: 1px solid var(--btn-border-color);
}
footer p {
  color: var(--text-color-secondary);
  text-align: center;
  margin: 0 auto;
}
.about-section {
  background-color: var(--navbar-bg-color);
  padding: 25px 15px;
  border-radius: 10px;
  margin: 16px 0;
  border: 1px solid var(--btn-border-color);
}
.about-title {
  display: flex;
  align-items: center;
  /* justify-content: cen; */
  gap: 10px;
  color: var(--text-color-primary);
  padding-bottom: 16px;
}
.main-title {
  color: var(--text-color-primary);
}
.about-description {
  color: var(--text-color-secondary);
}
.projects {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.main-title {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .projects {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
}
.projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px 10px;
}
@media (max-width: 610px) {
  .projects-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.project-links a {
  text-decoration: none;
  color: var(--text-color-primary);
}
